= simple_form_for @salary_booking_template do |f|
  .row-fluid
    .span6= f.input :title, :input_html => {"data-autofocus" => true}
    .span6= f.input :code
  .row-fluid
    .span6= f.association :credit_account, :as => :combobox, :collection => accounts_as_collection
    .span6= f.association :debit_account, :as => :combobox, :collection => accounts_as_collection
  .row-fluid
    .span6= f.input :amount
    .span6= f.input :amount_relates_to, :collection => amount_relates_to_collection
  .row-fluid
    .span12= f.input :comments, :input_html => {:rows => 2}

  .row-fluid
    .span12= f.input :include_in_saldo_list

  .row-fluid
    .span12= f.input :salary_declaration_code

  .form-actions
    = f.button :submit
