%table.list.salary_booking_template_list
  %tr
    %th= t_attr :title, SalaryBookingTemplate
    %th= t_attr :credit_account, SalaryBookingTemplate
    %th= t_attr :debit_account, SalaryBookingTemplate
    %th.currency= t_attr 'amount', SalaryBookingTemplate
    %th= t_attr :amount_relates_to, SalaryBookingTemplate
    %th= t_attr :for_gross_income, SalaryBookingTemplate
    %th= t_attr :for_ahv, SalaryBookingTemplate
    %th= t_attr :for_ktg, SalaryBookingTemplate
    %th= t_attr :for_uvg, SalaryBookingTemplate
    %th= t_attr :for_uvgz, SalaryBookingTemplate
    %th= t_attr :for_deduction_at_source, SalaryBookingTemplate
    %th= t_attr :salary_declaration_code, SalaryBookingTemplate
    %th.action-links

  = render @salary_booking_templates
