%tr[salary_booking_template]
  %td
    = link_to "%s (%s)" % [salary_booking_template.title, salary_booking_template.code], salary_booking_template, 'data-href-container' => 'tr'
    - if salary_booking_template.comments.present?
      %hr{:style => "height: 1px; margin: 0"}/
      %i= salary_booking_template.comments
  %td= link_to salary_booking_template.credit_account.code, account_path(salary_booking_template.credit_account), :title => salary_booking_template.credit_account.title unless salary_booking_template.credit_account.nil?
  %td= link_to salary_booking_template.debit_account.code, account_path(salary_booking_template.debit_account), :title => salary_booking_template.debit_account.title unless salary_booking_template.debit_account.nil?
  %td.currency= amount_to_s(salary_booking_template)
  %td= t(salary_booking_template.amount_relates_to, :scope => 'salary_booking_template.relation') if salary_booking_template.amount_relates_to.present?
  %td= salary_booking_template.for_gross_income
  %td= salary_booking_template.for_ahv
  %td= salary_booking_template.for_ktg
  %td= salary_booking_template.for_uvg
  %td= salary_booking_template.for_uvgz
  %td= salary_booking_template.for_deduction_at_source
  %td= salary_booking_template.salary_declaration_code
  %td.action-links
    = list_link_for(:edit, salary_booking_template)
    = list_link_for(:delete, salary_booking_template)
    = link_to image_tag('16x16/copy.png', :title => 'Copy'), copy_salary_booking_template_path(salary_booking_template)
