= contextual_links

= boot_page_title

%table.table.table-bordered.table-striped.collection
  %thead
    %tr
      %th= t_attr :code
      %th= t_attr :title
      %th.right= t_attr :amount
  %tbody
    - for template in @salary_booking_templates
      - amount = template.line_items.where(:date => @duration).sum(&:accounted_amount)
      - next if amount == 0
      %tr
        %td= template.code
        %td= template.title
        %td.currency= currency_fmt(amount)

- content_for :sidebar do
  - filters = (1..12).map do |month|
    - value = Date.new(Date.today.year, month, 1).to_s(:db)
    - { :value => value, :title => t('date.month_names')[month] }
  = boot_nav_filter(:date, filters)
