= semantic_form_for @salary_template do |f|
  = f.semantic_errors
  = f.inputs do
    .row
      .span6= f.input :title, :input_html => {"data-autofocus" => true}
      .span6= f.input :person, :as => :combobox, :collection => Employee.all
    .row
      .span12= f.input :remarks, :input_html => {:rows => 2, :class => 'span12'}

  = render 'salary_items/list_form', :f => f

  = f.buttons do
    = f.commit_button
