= simple_form_for @salary_template do |f|
  .row-fluid
    .span6= f.input :title, :input_html => {"data-autofocus" => true}
    .span6= f.association :person, :as => :combobox, :collection => Employee.all
  .row-fluid
    .span12= f.input :remarks, :input_html => {:rows => 2}

  = render 'salary_items/list_form', :f => f

  .form-actions
    = f.button :submit
