= semantic_form_for @salary do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :employee_id, :as => :hidden
    = f.input :employer_id, :as => :hidden
    .row
      .span16= f.input :title, :input_html => {:class => 'span12'}
    .row
      .span8= f.input :duration_from, :as => :date_field
      .span8= f.input :duration_to, :as => :date_field
    .row
      .span16= f.input :remarks, :input_html => {:rows => 4, :class => 'span12'}

  = render 'line_items/list_form', :f => f, :invoice => resource

  = f.buttons do
    = f.commit_button
