= semantic_form_for @salary do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :state, :collection => invoice_states_as_collection
    = f.input :employer, :as => :combobox
    = f.input :employee, :as => :combobox
    = f.input :title
    = f.input :duration_from, :as => :date_field
    = f.input :duration_to, :as => :date_field
    = f.input :amount, :input_html => {:size => 12}
    = f.input :remarks, :input_html => {:rows => 4}

  = f.inputs t('title.line_items') do
    %table#line_items
      %thead
        = render 'line_items/list_header', :invoice => resource
      %tbody
        = f.fields_for :line_items do |line_item|
          = render 'line_items/form', :line_item => line_item
      %tfoot
        = render 'line_items/list_footer', :total_amount => resource.amount

  = f.buttons do
    = f.commit_button
