= semantic_form_for @salary do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :employee_id, :as => :hidden
    = f.input :employer_id, :as => :hidden
    = f.input :title
    = f.input :duration_from, :as => :date_field
    = f.input :duration_to, :as => :date_field
    = f.input :remarks, :input_html => {:rows => 4}

  = render 'employees/show_charge_rates'

  = f.buttons do
    = f.commit_button
