= semantic_form_for @salary do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :employee_id, :as => :hidden
    = f.input :employer_id, :as => :hidden
    = f.input :title
    = f.input :duration_from, :as => :date_field
    = f.input :duration_to, :as => :date_field
    = f.input :remarks, :input_html => {:rows => 4}

  - @booking_templates = BookingTemplate.by_type('salary')
  = render 'booking_templates/list'

  = f.buttons do
    = f.commit_button
