.contextual
  = icon_link_to :new, {:action => :select_employee}

= boot_page_title

= paginated_section collection do
  - if collection.any?
    = render "list"

= render 'filters/by_calendar_year'
= render 'filters/by_employee'
