= boot_page_title

= semantic_form_for @salary, :url => new_salary_path, :method => :get do |f|
  = f.semantic_errors

  = f.inputs do
    .row-fluid
      .span5= f.input :employee, :as => :combobox
    .row-fluid
      .span5= f.input :duration_from, :as => :date_field

  = f.buttons do
    = f.commit_button
