%h2= t_title

= semantic_form_for @salary, :url => new_salary_path, :method => :get do |f|
  = f.semantic_errors

  = f.inputs do
    = f.input :employee, :as => :combobox
    = f.input :duration_from, :discard_day => true, :start_year => Time.now.year - 2, :end_year => Time.now.year + 1, :include_blank => false

  = f.buttons do
    = f.commit_button
