%h3= t_title(:list, SalaryItem)
#salary_items.nested-form-container
  = render 'salary_items/list_header'
  .list.sortable
    = f.fields_for :salary_items do |salary_item|
      = render 'salary_items/form', :salary_item => salary_item
  .row-fluid.line_item
    = render 'salary_items/list_footer'
