= contextual_links

= boot_page_title

%table.table.table-striped.collection
  %thead
    %tr
      %th= t_attr :code, SalaryBookingTemplate
      %th= t_attr :title, SalaryBookingTemplate
      %th.right= t_attr :amount, SalaryBookingTemplate
  %tbody
    - @salary_booking_templates.each do |template|
      - amount = template.line_items.where(:date => @value_period).sum(&:accounted_amount)
      - next if amount == 0
      %tr
        %td= template.code
        %td= template.title
        %td.currency= currency_fmt(amount)

= render 'filters/by_calendar_year'
