= boot_page_title

%table.zebra-striped.collection
  %thead
    %tr
      %th= t_attr :ssn, Employee
      %th= t_attr :date_of_birth, Employee
      %th= t_attr :full_name, Employee
      %th= t_attr :duration_from, Employment
      %th= t_attr :duration_to, Employment
      %th.currency AHV-Lohn
      %th.currency ALV-Lohn
      %th.currency ALVZ-Lohn
      %th M/F
  %tbody
    - ahv_total = 0
    - for employment in @employments
      - ahv_amount = employment.employee.salaries.where(:value_date => @value_period).sum(&:ahv_amount)
      - ahv_total += ahv_amount
      %tr
        %td= employment.employee.ssn
        %td= employment.employee.date_of_birth
        %td= employment.employee.vcard.full_name
        %td= duration_from(employment, @value_period)
        %td= duration_to(employment, @value_period)
        %td.currency= currency_fmt(ahv_amount)
        %td.currency= currency_fmt(ahv_amount)
        %td.currency= currency_fmt(0)
        %td= employment.employee.sex_to_s

  %tfoot
    %tr
      %th= t('bookyt.total')
      %th{:colspan => 4}
      %th.currency= currency_fmt(ahv_total)
      %th.currency= currency_fmt(ahv_total)
      %th.currency= currency_fmt(0)
      %th

- content_for :sidebar do
  .sub-tabs
    %h3 Filter
    %ul
      - years = current_tenant.incorporated_on.year..Date.today.year
      - for year in years
        %li= link_to year, url_for(params.merge({:by_value_period => {:from => Date.new(year, 1, 1).to_s(:db), :to => Date.new(year, 12, 31).to_s(:db)}}))
